*{
    margin: 0;
    padding: 0;
}
.body{
    display: flex;
    flex-direction: column;
}
.vid-div{
    width: 100%;
    height: 100vh;
   background-image: linear-gradient(90deg, rgba(0, 160, 152, 0.8) 0%, rgba(173, 0, 168, 0.8) 100%);
    z-index: -1;
    position: absolute;

}
.vid{
width: 100%;
position: absolute ;
z-index: -2;
opacity: 0.5;
height: 100vh;
object-fit: cover;
}
.b{
    border: 1px solid black;
}
.img-div{
    height: 10vh;
    
}
.nav{
    padding-top: 1.1em;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 1.5em;
}
.nav-ul{
    display: flex;
    list-style: none;
    gap: 1.25em;
}
.nav a{

    text-decoration: none;
    color: white;
    font-size: 1.25em;
}
.nav-btn a{
    padding: 1.05em;
    background: none;
    border:0; 
    text-align: center;
    color: white;
    font-size: 1.3em;
}
.title-main{
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 3em;
    margin-top: 2em;
    color: white;
    
}
.title-main div{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-main a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.25em;
    background-color: rgb(0, 162, 255);
    border-radius: 50px;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}
.section-one{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(205, 205, 205);
}
.section-one h1{
margin-top: 1.5em;

}
.cards{
    display: flex;
    justify-content: space-around;
    width: 100%;

}
.card{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 1.1em;
    margin-bottom: 1.1em;
    width: 30%;
    height: 50vh;
    border-radius: 30px;
    box-shadow:  10px 0.1px cyan;


}
.span-card-1{
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-title{
    margin: 10px;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card-det{
    height: 25%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin: 10px;
}
.btn-inline{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.card-text{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 50%;
}
.card-btn{
    padding: 10px 1.1em;
    border-radius: 50px;
    border:1px solid rgb(0, 190, 190);
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: rgb(0, 190, 190);
    background-color: white;
}
.after-card-btn{
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}
.section-two{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(230, 230, 230);
}
.section-two h1{
    margin-top: 1.5em;
}
.section-two img{
    background-color: rgb(0, 230, 230);
    border-radius: 100%;
    padding: 15px;
}
.num-card{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1.1em;
    margin-bottom: 1.1em;
    width: 15%;
    height: 50vh;
    border-radius: 30px;
    box-shadow: 0px 1px 5px black;
}
.color2{
    color: rgb(0, 65, 122);
    border:1px solid rgb(0, 65, 122);
}
.section-three{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #160068;
}
.section-three h1{
    margin-top: 1.5em;
    color: white;
}
.event-card{
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 1.1em;
    margin-bottom: 1.1em;
    padding: 10px;
    width: 15%;
    height: 70vh;
    border-radius: 30px;
    box-shadow: 0px 1px 5px black;
}
.event-card-btn{
    width:90%;
    background-color: #160068;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    color: white;
}
.section-five{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(230, 230, 230);
}
.section-five h1{
    margin-top: 1.5em;
    margin-bottom: 3em;
}
.img-div-2{
display: flex;
justify-content: space-around;
width: 100%;
height: 50vh;
margin-top: 1.5em;
}
.img-div-img{
    width: 15%;
}
.img-div-2 img{
    width: 100%;
    height: 40%;
}

.section-six{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(0, 172, 129);
}
.section-six h1{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.form-s {
    margin-bottom: 1.5em;
    display: flex;
    justify-content: space-around;
    width: 80%;

}
.form-s input{
    font-size: 1.5em;
    height: 2em;
    width: 10em;
    border-radius: 10px;
    border: 0;
}
.form-s button{
    padding: 1.25em 3em ;
    height: 100%;
    border-radius: 20px;
    border: 0;
}
.form-s button:focus{
border:1px solid #160068;

}
.form-s input:focus{
border:2px solid #160068;

}
.footer{
color: white;
    background-color: #160068;
    display: flex;
    flex-direction: column;
   align-items: center;

}
.footer-div{
    margin-top: 1.5em;
    width: 100%;
    background-color: #160068;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3em;

}
.img-ul img{
    width: 24px;
    margin: 3px;
    
}
.uls{
    list-style: none;
}
.mb{
    margin-bottom: 3em;
}