*{
    margin: 0;
    padding: 0;
}
.vid-div{
    width: 100%;
    height: 100vh;
   background-image: linear-gradient(90deg, rgba(0,235,225,0.3) 0%, rgba(255,0,245,0.3) 100%);
    z-index: -1;
    position: absolute;

}
.vid{
width: 100%;
position: absolute ;
z-index: -2;
opacity: 0.5;
height: 100vh;
object-fit: cover;
}
.b{
    border: 1px solid black;
}
.img-div{
    height: 10vh;
    
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-R{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.nav-ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
.nav button{
    padding: 1.05em;

}
