*{
    margin: 0;
    padding: 0;
}
.vid-div{
    width: 100%;
    height: 100vh;
   background-image: linear-gradient(90deg, rgba(0, 160, 152, 0.8) 0%, rgba(173, 0, 168, 0.8) 100%);
    z-index: -1;
    position: absolute;

}
.vid{
width: 100%;
position: absolute ;
z-index: -2;
opacity: 0.5;
height: 100vh;
object-fit: cover;
}
.b{
    border: 1px solid black;
}
.img-div{
    height: 10vh;
    
}
.nav{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 1.5em;
}
.nav-ul{
    display: flex;
    list-style: none;
    gap: 1.25em;
}
.nav-ul a{
    text-decoration: none;
    color: white;
    font-size: 1.25em;
}
.nav-btn button{
    padding: 1.05em;
    background: none;
    border:0; 
    text-align: center;
    color: white;
    font-size: 1.3em;
}
